---
lang: en
lang-ref: home
#Pas op, indent is belangrijk!
carousels:
  - images:
    - image: /images/carousel/UBUROI_barthkPEL_20230525_-_Maxime_debruin060.jpg
      alt: "Photo: Maxime de Bruin"
    - image: /images/carousel/nnknxt_g009.jpg 
      alt: "Photo: Eason Lam"
    - image: /images/carousel/20220803_Vader_-_Coraline_Groen_242.jpg
      alt: "Sebastiaan Ammerlaan"
    - image: /images/carousel/UBUROI_barthkPEL_20230525_-_Maxime_debruin082.jpg
      alt: "Photo: Maxime de Bruin"
    - image: /images/carousel/22-23_Animal_Farm_-_Opera_-_Stage_Rehearsal_Michel_Schnater_017.jpg
      alt: "Photo: Michel Schnater"
---

<figure class='full-width-mobileview ma0'>
  {% include carousel.html height="70" unit="%" duration="7" number="1" %}
</figure>

<!-- <figure class='full-width-mobileview ma0'>
  <img src="/images/IMG_4471lores.jpg" class='br3-ns ba-ns b--light-gray'>
</figure> -->

<!-- Hieronder eventueel code voor blog -->

<div class="blurb">
  <center>
    <h1>Blog</h1>
  </center>
  <!--<p>
    The various thoughts hurtling through my gray matter. Usually tangentially related to singing, but I have many other
    interests.
  </p>
  <p>
    Hey, this might give us something to talk about during those concert breaks.
  </p>-->

</div><!-- /.blurb -->


<ul class="list pa0">
  {% assign posts = site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  <li class="mv2">
    <a href="{{ post.url }}" class="db pv1 link blue hover-mid-gray">
      <time class="fr silver ttu">{{ post.date | date_to_string }} </time>
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>