---
lang: nl
lang-ref: home
#Pas op, indent is belangrijk!
carousels:
  - images:
    - image: /images/carousel/UBUROI_barthkPEL_20230525_-_Maxime_debruin060.jpg
    - image: /images/carousel/nnknxt_g009.jpg 
    - image: /images/carousel/20220803_Vader_-_Coraline_Groen_242.jpg
    - image: /images/carousel/UBUROI_barthkPEL_20230525_-_Maxime_debruin082.jpg
---



<figure class='full-width-mobileview ma0'>
  {% include carousel.html height="70" unit="%" duration="7" number="1" %}
</figure>

<!-- <figure class='full-width-mobileview ma0'>
  <img src="/images/IMG_4471lores.jpg" class='br3-ns ba-ns b--light-gray'>
</figure> -->

<!-- Hieronder eventueel code voor blog -->

<div class="blurb">
  <center>
    <h1>Blog</h1>
  </center>
  <!--  <p>
    De uiteenlopende onderwerpen en hersenspinselen die door mijn grijze massa slingeren. Als vage rode lijn is er
    het zingen, maar ik hobby er naarstig op los in andere interessevelden.
  </p>
  <p>
    Handig, dan hebben we hopelijk een leuk onderwerp om over te kunnen keuvelen in de pauze van een concert.
  </p>-->
</div><!-- /.blurb -->

<ul class="list pa0">
  {% assign posts = site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  <li class="mv2">
    <a href="{{ post.url }}" class="db pv1 link blue hover-mid-gray">
      <time class="fr silver ttu">{{ post.date | date_to_string }} </time>
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>