<script type="module" src="/assets/js/mastodon-comments.js"></script>
<div class="no-external-links-icon">
    <!-- <h3>{{ site.data.translations['commentsHeader'][page.lang] }}</h3> -->
    
    <!-- From https://github.com/dpecos/mastodon-comments -->
    <mastodon-comments 
    host="mastodon.nl" 
    user="bammerlaan" 
    tootId="{{ page.tootId }}" 
    commentsHeader="{{ site.data.translations['commentsHeader'][page.lang] }}"
    commentsText="{{ site.data.translations['commentsText'][page.lang] }}" 
    commentsPost="{{ site.data.translations['commentsPost'][page.lang] }}">
    </mastodon-comments>
</div>