
<!-- Voeg "outline" toe aan class om handig te kijken waar het element precies komt -->
<nav class="z-max bg-white f4 w-100 ph4-l ph2-m ph1 pv3" aria-label="Main Navigation">
  <!-- Hier het navmenu -->
  <ul class="flex flex-no-wrap justify-between w-100 pa0 ma0">

    <!-- ############# Desktop-versie -->

    <!-- Home-knop, verdwijnt op mobile -->
    <li class="dn dib-ns link f4 ">
      {% if page.lang == 'nl' %}
      <a class="f4 no-underline bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns" href=" {{ site.url }}">
        Home
        {% endif %}
        {% if page.lang != 'nl' %}
        <a class="f4 no-underline bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns" href=" {{ site.url }}/{{ page.lang }}">
          Home
          {% endif %}
        </a>
    </li>

    <!-- Over mij-dropdown -->
    <li class="f4 dropdown dn dib-ns link ">
      <!-- aria-expanded needs managed with Javascript -->
      <button type="button" class="dropdown__title dib bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns" aria-expanded="false"
        aria-controls="sweets-dropdown">
        {{ site.data.translations['aboutNav'][page.lang] }}
      </button>
      <ul class="dropdown__menu bg-black-30 tc" id="sweets-dropdown">
        <li><a href="/{{page.lang}}/bio" class="f5 link dib-ns tc pa0 ph1 ph2-ns">{{ site.data.translations['bioNav'][page.lang] }}</a></li>
        <li><a href="/{{page.lang}}/repertoire" class="f5 link dib-ns tc pa0 ph1 ph2-ns">{{ site.data.translations['repertoireNav'][page.lang] }}</a></li>
        <li><a href="https://www.youtube.com/channel/UClcL5I8ybyGgUZSKI-AsOrA" class="f5 link bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns" target='_blank' rel='noopener noreferrer'>{{ site.data.translations['recordingsNav'][page.lang] }}</a></li>
        <!-- <li><a href="/{{page.lang}}/immix/bloom" class="no-underline white hover-immix-marigold">bloom</a></li>  -->
      </ul>
    </li>

    <!-- Agenda -->
    <li class="f4 link dn dib-ns "><a href="/{{page.lang}}/concertagenda" class="f4 no-underline bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns truncate">{{ site.data.translations['agendaNav'][page.lang] }}</a></li>

    <!-- Zangles-dropdown -->
    <li class="f4 dropdown dn dib-ns link ">
      <!-- aria-expanded needs managed with Javascript -->
      <button type="button" class="dropdown__title dib bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns truncate" aria-expanded="false"
        aria-controls="sweets-dropdown">
        {{ site.data.translations['zanglesNav'][page.lang] }}
      </button>
      <ul class="dropdown__menu bg-black-30 tc" id="sweets-dropdown">
        <li><a href="/{{page.lang}}/zangles" class="f5 link bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns">Info</a></li>
        <li><a href="/{{page.lang}}/zangles/#tarieven-en-voorwaarden" class="f5 link bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns">{{ site.data.translations['tarievenVoorwaardenNav'][page.lang] }}</a></li>
        <!-- <li><a href="/{{page.lang}}/immix/wende" class="no-underline white hover-immix-marigold">wende</a></li>
        <li><a href="/{{page.lang}}/immix/bloom" class="no-underline white hover-immix-marigold">bloom</a></li> -->
        
        <!-- <li><a href="/{{ page.lang }}/blog" class="no-underline white hover-immix-marigold">Blog</a></li> -->
      </ul>
    </li>
    <!-- Contact -->
    <li class="f4 link dn dib-ns "><a href="/{{page.lang}}/contact"
        class="f4 no-underline bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns truncate">{{ site.data.translations['contactNav'][page.lang] }}</a></li>

    <!-- ############## Mobiele versie -->

    <!-- Hamburger-menu -->
    <li class="f3 dropdown dtc dn-ns ">
      <!-- aria-expanded needs managed with Javascript -->
      <button type="button" class="dropdown__title dib bammerlaan-blauw dib-ns tc pa0 ph1 ph2-ns" aria-expanded="false" style="font-variant: small-caps;"
        aria-controls="sweets-dropdown">
        ☰ menu
      </button>
      <ul class="dropdown__menu bg-black-30 tl f4" id="sweets-dropdown">

        <!-- Home -->
        {% if page.lang == 'nl' %}
        <li><a class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns" href=" {{ site.url }}">
        Home
        {% endif %}
        {% if page.lang != 'nl' %}
        <a class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns" href=" {{ site.url }}/{{ page.lang }}">
          Home
          {% endif %}
        </a></li>

        <!-- Poging tot horizontale scheiding -->
        <li><div class="bg-lightest-blue pv1" style="background: url(/images/line2.png) repeat-x left bottom;"></div></li>

        <!-- Biografie -->
        <li><a href="/{{page.lang}}/bio" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns">{{ site.data.translations['bioNav'][page.lang] }}</a></li>

        <!-- Repertoire -->
        <li><a href="/{{page.lang}}/repertoire" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns">{{ site.data.translations['repertoireNav'][page.lang] }}</a></li>

        <!-- Opnames -->
        <li><a href="https://www.youtube.com/channel/UClcL5I8ybyGgUZSKI-AsOrA" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns f5" target='_blank' rel='noopener noreferrer'>{{ site.data.translations['recordingsNav'][page.lang] }}</a></li>

        <!-- Poging tot horizontale scheiding -->
        <li><div class="bg-lightest-blue pv1" style="background: url(/images/line2.png) repeat-x left bottom;"></div></li>

        <!-- Agenda -->
        <li><a href="/{{page.lang}}/concertagenda" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns">{{ site.data.translations['agendaNav'][page.lang] }}</a></li>

        <!-- Poging tot horizontale scheiding -->
        <li><div class="bg-lightest-blue pv1" style="background: url(/images/line2.png) repeat-x left bottom;"></div></li>

        <!-- Zangles -->
        <li><a href="/{{page.lang}}/zangles" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns">{{ site.data.translations['zanglesNav'][page.lang] }}</a></li>

        <!-- Tarieven & voorwaarden -->
        <li><a href="/{{page.lang}}/zangles/#tarieven-en-voorwaarden" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns f5">{{ site.data.translations['tarievenVoorwaardenNav'][page.lang] }}</a></li>

        <!-- Poging tot horizontale scheiding -->
        <li><div class="bg-lightest-blue pv1" style="background: url(/images/line2.png) repeat-x left bottom;"></div></li>

        <!-- Contact -->
        <li><a href="/{{page.lang}}/contact" class="link bammerlaan-blauw dib-ns pa0 ph1 ph2-ns">{{ site.data.translations['contactNav'][page.lang] }}</a></li>
        
      </ul>
    </li>

    <!-- Fill up space between buttons on mobile site -->
    <li class="w-40 dn-ns"></li>

    <!-- Taal dropdown -->
    <li class="dropdown f4 dtc mr4">
      <!-- aria-expanded needs managed with Javascript -->
      <button type="button" class="dropdown__title dib bammerlaan-blauw" aria-expanded="false"
        aria-controls="sweets-dropdown">
        🌐︎
      </button>
        {% if page.layout != 'tagpage' %}
        {% if page.layout != 'index' %}
        {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% endif %}
        {% if posts.size > 1 %}
    
          <ul class="dropdown__menu bg-black-30 tc" id="sweets-dropdown">
          {% for post in posts %}
          <li><a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[post.lang].label }}"
            class="{{post.lang}} no-underline link" href="{{ site.base-url }}{{ post.url }}">{{
            site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}
          </a></li>
          {% endfor %}
        </ul>
          {% endif %}
        
      {% endif %}
      {% endif %}

    </li>

  </ul>

</nav>
